@import "tailwindcss";

:root {
  --background: #111111; /* Dark Background */
  --foreground: #ededed; /* Light Text */
  --primary: #C5A059; /* Gold */
  --secondary: #1a1a1a; /* Anthracite */
  --muted: #9CA3AF; /* Gray-400 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
